.AboutUs {
  margin: auto;
  text-align: center;
  background-image: url('../../../public/assets/background1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 2em;
  display: block;
  img {
    max-width: 40vw;
    height: auto;
    border-radius: 5px;
  }
  section{
    background-color: white;
    border-radius: 5px;
    padding: .5em;
    margin: .5em;
  }
}

@media only screen and (min-width: 1000px) {
  .AboutUs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1em;
    img {
      height: 30vh;
      width: auto;
    }
  }
}