.Contact {
  padding: 20em;
  margin: auto;
  text-align: center;
  background-image: url('../../../public/assets/background1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  img {
    height: 200%;
  }
  p {
    padding: 1em;
  }
}

