.Event {
  h2{
    margin: 0;
    font-size: 1.2em;
    text-align: center;
  }
  a{
    text-decoration: none;
    color: black;
  }
  h2:hover {
    color: #766987;
  }
  p {
    text-align: center;
    margin: .4em;
    span {
      font-weight: 800;
      margin-right: .5em;
    }
  }
  img {
    display: block;
    height: auto;
    width: 30vw;
    margin: auto;
    border-radius: 5px;
  }
  .info:hover {
    color: gray;
    font-weight: 800;
  }
}

@media only screen and (min-width: 1000px) {
  .Event {
    img {
      display: block;
      height: auto;
      width: 10vw;
      margin: auto;
      border-radius: 5px;
    }
  }
}