.Form {
  display: block;
  padding: .5em;
  legend {
    text-align: center;
  }
  input {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
  fieldset {
    margin: .5em;
  }
  button {
    margin-left: 40%;
    margin-right: 40%;
    padding: 1em;
    border-radius: 5px;
    background-color: white;
  }

}