* {
  font-family: 'Raleway', sans-serif;
}
.Home {
  position: relative;
    background: url('../../../public/assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: auto;
}
img {
  width: 100%;
}
