* {
  font-family: 'Raleway', sans-serif;
}
.Home {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: auto;
}
img {
  width: 100vw;
}
div {
  .Loader {
    text-align: center;
    margin: 100px;
    color: grey;
  }
}
