.Footer {
  bottom: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  font-size: 1.4em;
  margin: 0;
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    background-color: lightgray;
    cursor: pointer;
  }
}
