.Select {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: .7em;
  position: fixed;
  top: 7.8em;
  background-color: white;
  width: 100vw;
  height: 5em;
  select {
    margin: 0; 
    padding: .5em;
    font-size: .5em;
  }

  input {
    margin: auto;
    text-align: center;
    display: block;
    width: 4em;
    padding: .5em;
  }

  label {
    font-weight: 800;
  }
  button {
    border-radius: 5px;
    height: 2em;
    margin: .5em;
  }
}
  
@media only screen and (min-width: 1000px) {
  .Select {
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    label {
      display: flex;
      justify-content: center;
      margin: 0;
      justify-content: center
    }
    select {
      margin-top: auto; 
      margin-bottom: auto; 
      padding: .5em;
      font-size: .5em;
    }
    
  }
} 
 