.Resources {
  text-align: center; 
  margin: auto;
  background-image: url('../../../public/assets/background1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  img {
    width: 8vh;
  }
  h1 {
    margin: 0;
  }
}