.Resources {
  text-align: center; 
  margin: auto;
  background-image: url('../../../public/assets/background1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100;
  img {
    width: 8vh;
    padding: 1em;
  }
  h1 {
    margin:0;
    padding: 1em;
  }
  section {
    width: 95vw;
    margin: auto;
    background-color: white;
    width: 85vw;
    border-radius: 5px;
    p {
      padding: 1em;
    }
  }
}