.Resources {
  text-align: center; 
  margin: auto;
  background-image: url('https://images.unsplash.com/photo-1546984575-757f4f7c13cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  img {
    width: 8vh;
  }
  h1 {
    margin: 0;
  }
}